<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Rubust Test Environment</title>
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag "main_site" %>
		
		<script type="text/javascript">
			function displayHeadingForm(){
				var f = document.getElementById("add_heading");
				f.style.display = "block";
			}
			
			function displayNoteForm(){
				var f = document.getElementById("add_note");
				f.style.display = "block";
			}
			
			function displayFixtureForm(){
				var f = document.getElementById("add_table");
				f.style.display = "block";
			}
			
			function hideHeadingForm(){
				var f = document.getElementById("add_heading");
				f.style.display = "none";
			}
			
			function hideNoteForm(){
				var f = document.getElementById("add_note");
				f.style.display = "none";
			}
			
			function hideFixtureForm(){
				var f = document.getElementById("add_table");
				f.style.display = "none";
			}
		</script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
